.banner
  .bg-color
    .container
      .row
        .banner-text.text-center
          .text-border
            h2.text-dec Trust &amp; Quality
          .intro-para.text-center.quote
            p.big-text Learning Today . . . Leading Tomorrow.
            p.small-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium enim repellat sapiente quos architecto
              br
              | Laudantium enim repellat sapiente quos architecto
            |
            a.btn(href='#.') GET A QUOTE
          a.mouse-hover(href='#feature')
            .mouse
