footer#footer.footer
  .container.text-center
    h3 Start Your Free Trial Now!
    form.mc-trial.row
      .form-group.col-md-3.col-md-offset-2.col-sm-4
        .controls
          input.form-control(name='name', placeholder='Enter Your Name', type='text')
      .form-group.col-md-3.col-sm-4
        .controls
          input.form-control(name='EMAIL', placeholder='Enter Your email', type='email')
      .col-md-2.col-sm-4
        p
          button.btn.btn-block.btn-submit(name='submit', type='submit')
            | Submit
            i.fa.fa-arrow-right
    ul.social-links
      li
        a(href='#link')
          i.fa.fa-twitter.fa-fw
      li
        a(href='#link')
          i.fa.fa-facebook.fa-fw
      li
        a(href='#link')
          i.fa.fa-google-plus.fa-fw
      li
        a(href='#link')
          i.fa.fa-dribbble.fa-fw
      li
        a(href='#link')
          i.fa.fa-linkedin.fa-fw
    |  &copy;2016 Mentor Theme. All rights reserved
    .credits
      | Designed by
      a(href='https://bootstrapmade.com/') Free Bootstrap Themes
