section#courses.section-padding
  .container
    .row
      .header-section.text-center
        h2 Courses
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,
          br
          |  maiores, magni dolorum aliquam.
        hr.bottom-line
  .container
    .row
      .col-md-4.col-sm-6.padleft-right
        figure.imghvr-fold-up
          img.img-responsive(src='img/course01.jpg')
          figcaption
            h3 Course Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.
          a(href='#')
      .col-md-4.col-sm-6.padleft-right
        figure.imghvr-fold-up
          img.img-responsive(src='img/course02.jpg')
          figcaption
            h3 Course Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.
          a(href='#')
      .col-md-4.col-sm-6.padleft-right
        figure.imghvr-fold-up
          img.img-responsive(src='img/course03.jpg')
          figcaption
            h3 Course Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.
          a(href='#')
      .col-md-4.col-sm-6.padleft-right
        figure.imghvr-fold-up
          img.img-responsive(src='img/course04.jpg')
          figcaption
            h3 Course Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.
          a(href='#')
      .col-md-4.col-sm-6.padleft-right
        figure.imghvr-fold-up
          img.img-responsive(src='img/course05.jpg')
          figcaption
            h3 Course Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.
          a(href='#')
      .col-md-4.col-sm-6.padleft-right
        figure.imghvr-fold-up
          img.img-responsive(src='img/course06.jpg')
          figcaption
            h3 Course Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.
          a(href='#')
