doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Mentor Education Bootstrap Theme
    meta(name='description', content='Bootstrap Theme')
    meta(name='keywords', content='free website templates, free bootstrap themes, free template, free bootstrap, free website template')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans')
    link(rel='stylesheet', type='text/css', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/imagehover.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.easing.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/custom.js')
