extends app

block banner
  include includes/banner
block content
  section#feature.section-padding
    .container
      .row
        .header-section.text-center
          h2 Janus Blog
          p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,
          br
          |  maiores, magni dolorum aliquam.
        hr.bottom-line

  if error
    p Error getting dynamic content.
  else
